body {
	margin: 0;

	margin: 0;
	width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.app {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.scroll {
  position: relative;
  z-index: 1;

  width: 100%;

  will-change: transform;
}

.content {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;

  width: 100%;
}

.container {
	display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 70vh;
}

.screenshot {
	grid-column: 1 / 13;

	width: 100%;

	object-fit: cover;
}

.item {
	grid-column: 3 / 7;

	will-change: transform;

	perspective: 500px;

	&:nth-child(even) {
		grid-column: 6 / 10;
	}
}

.img {
	display: block;

	width: 100%;
	height: 70vh;

	object-fit: cover;
}

.text {
	font-family: 'Helvetica';
	font-size: 26px;
	line-height: 30px;
}