body {
	margin: 0;

	margin: 0;
	width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.app {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.scroll {
  position: relative;
  z-index: 1;

  width: 100%;

  will-change: transform;
}

.content {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;

	width: 100%;
	height: 100vh;

	background-color: red;

	&:nth-child(2) {
		background-color: blue;

		visibility: hidden;
		opacity: 0;
	}
}

.container {
	display: grid;
  grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 70vh;
	align-items: center;

	height: 100vh;
}

.img {
	grid-column: 5 / 12;

	display: block;

	width: 100%;
	height: 70vh;

	object-fit: cover;
}

.content:nth-of-type(2) .img {
	grid-column: 2 / 9;
}

.text {
	font-family: 'Helvetica';
	font-size: 26px;
	line-height: 30px;
}