body {
  margin: 0;

  font-family: 'Work Sans', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 1024px;
  height: 100vh;

  margin: 0 auto;

  /* background: blue; */
}

.slider {
  position: relative;

  width: 1200px;
  height: 300px;
}

.slider__slide {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 0;

  object-fit: cover;
}

.slider__slide--1 { z-index: 9; }
.slider__slide--2 { z-index: 8; }
.slider__slide--3 { z-index: 7; }
.slider__slide--4 { z-index: 6; }
.slider__slide--5 { z-index: 5; }

svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 10;
}
svg text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 56px;
}
svg rect {
  fill: white;
}
svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
