body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.tile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image {
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

canvas {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;

	width: 100%;
	height: 100vh;
}
