body {
  margin: 0;
  
  overflow: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

canvas {
  display: block;
  cursor: pointer;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  
  width: 100%;
  height: 100%;
}

.elements {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5vw;
  
  padding: 0 5vw;
  margin: 5vw 0;
  
  width: 100%;
  
  background-color: #fff;
}

.element {
  grid-column: span 12;
  
  position: relative;
  
  height: 300px;
  
  @media only screen and (min-width: 768px) {
    grid-column: span 6;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  
  cursor: pointer;
}
