body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
  grid-gap: 5vw;
	align-items: start;

	z-index: 10;

	padding: 5vw;
	
	width: 100%;
}

// .tile {
// 	grid-column: span 4;
// 	position: relative;
// 	height: 30vw;
// }

.tile {
	grid-column: 3 / 11;
	position: relative;
	height: 70vh;
}

.tile__image,
.tile__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

canvas {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;

	width: 100%;
	height: 100vh;
}
