:root {
  --color-black: #000;
  --color-grey: #666;
  --color-white: #fff;

  --gutter: 30px;
  --outer-gutter: 80px;
}

body {
  margin: 0;

  background-color: var(--color-black);

  white-space: nowrap;

  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
}

.container {
  position: fixed;

  width: 100%;
  height: 100%;

  padding: 100px var(--outer-gutter);
}

.row:first-child {
  margin-bottom: var(--gutter);
}

/* .row:nth-child(2) {
  padding-left: 200px;
} */

.element {
  position: relative;

  width: 200px;
  height: calc(100vh - 200px - var(--gutter) / 2);

  margin-right: 50px;

  background-color: var(--color-grey);

  will-change: transform;

  /* overflow: hidden; */
}

.element:nth-child(even) {
  height: calc(100vh - 300px - var(--gutter) / 2);

  margin-top: 100px;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;

  opacity: 0;

  transition: opacity 500ms ease-in-out;
}

.element.in-view .image {
  opacity: 1;
}
