:root {
  --gutter: 15px;
  --outer-gutter: 60px;
  --col-6: calc(100% / 12 * 6 - var(--gutter) * 2);
  --col-12: calc(100% / 12 * 12 - var(--gutter) * 2);
}

body {
  margin: 0;
}

.header {
  position: relative;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  z-index: 1;
}

.header__image {
  position: fixed;
  left: 0;

  width: 100%;
  height: 300px;

  will-change: transform;
}

.header__image--1 {
  top: 0;;

  background: purple;

  z-index: 1;
}

.header__image--2 {
  top: 25vh;

  background: green;

  z-index: 2;
}

.header__image--3 {
  top: 50vh;

  background: blue;

  z-index: 5;
}

.header__image--4 {
  top: 85vh;

  height: 500px;

  background: red;

  z-index: 6;
}

.header__title {
  position: fixed;
  top: 30%;
  left: 50%;

  transform: translateX(-50%);

  font-family: 'Helvetica', 'Arial';
  font-size: 140px;
  line-height: 150px;
  color: white;
  text-transform: uppercase;

  z-index: 4;
}

.container {
  position: relative;

  width: 100%;

  padding: 0 var(--outer-gutter);

  box-sizing: border-box;
}

.articles {
  position: relative;

  width: 100%;

  padding: var(--outer-gutter) 0;

  background-color: white;

  overflow: auto;
  z-index: 2;
}

.articles__heading {
  width: var(--col-12);

  margin: 0 var(--gutter) var(--gutter);

  font-size: 60px;
  line-height: 70px;
  color: black;
  text-transform: capitalize;
}

.articles__article {
  display: inline-block;

  position: relative;
  float: left;

  width: var(--col-6);

  margin: calc(var(--gutter) * 2) var(--gutter) calc(var(--gutter) * 2);

  height: 400px;

  will-change: transform;

  background-color: black;
}
