body {
  margin: 0;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slider__heading-wrap {
  position: absolute;
  top: 30%;
  left: 50%;

  transform: translate(-50%, -50%);

  overflow: hidden;
  z-index: 101;
}

.slider__heading {
  margin: 0;

  font-family: 'Helvetica', 'Arial';
  font-size: 50px;
  color: #fff;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.slide__mask {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
}

.slide__mask--1 {
  clip: rect(0, 100vw, calc(100vh / 5), 0);
}

.slide__mask--2 {
  clip: rect(calc(100vh / 5), 100vw, calc(100vh / 5 * 2), 0);
}

.slide__mask--3 {
  clip: rect(calc(100vh / 5 * 2), 100vw, calc(100vh / 5 * 3), 0);
}

.slide__mask--4 {
  clip: rect(calc(100vh / 5 * 3), 100vw, calc(100vh / 5 * 4), 0);
}

.slide__mask--5 {
  clip: rect(calc(100vh / 5 * 4), 100vw, calc(100vh / 5 * 5), 0);
}

.slide__img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}
