body {
	margin: 0;

	margin: 0;
	width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
	overscroll-behavior-y: none;
}

* {
  box-sizing: border-box;
}

.app {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.scroll {
  position: relative;
  z-index: 1;

  width: 100%;

  will-change: transform;
}

.content {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;

  width: 100%;
}

.timelapse {
	position: relative;

	margin: 0 10vw;

	width: 80vw;
	height: 180vw;
}

.timelapse__canvas,
.timelapse__image {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.text {
	margin: 15vw auto;

	width: 80vw
}