body {
	margin: 0;
}

* {
  box-sizing: border-box;
}

#app {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
}

body.is-device #app {
	overflow: hidden;
	overflow-y: scroll;
}

main {
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  position: absolute;
}

body.is-device main {
	top: unset;
	left: unset;
	height: auto;
	position: relative;
}

section {
  top: 0;
  left: 0;

  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  will-change: transform;

  // padding-top: 100vh;
  // padding-top: calc(var(--vh, 1vh) * 100);
}