html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;

  overscroll-behavior-y: none;
}

* {
  box-sizing: border-box;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

main {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
}

section {
  position: relative;

  width: 100%;
  height: auto;

  overflow: hidden;

  will-change: transform;
}

h1 {
  font-family: 'Helvetica';
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}

.heading-wrap {
  overflow: hidden;
}

.heading {
  display: block;
  margin: 0;
  will-change: transform;
}

.img {
  display: block;
  margin: 50px auto;
}

.line {
  width: 100vw;
  height: 20px;
  margin: 100px 0;
  position: relative;
  display: inline-block;
  background-color: #0f0;
  will-change: transform;
}

.box {
  display: inline-block;

  width: 100px;
  height: 100px;

  background-color: #f00;

  will-change: transform;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 200px auto;

  width: 70%;
  height: 100vh;

  background-color: #00f;

  will-change: transform;
}

.panel-inner {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #fff;

  will-change: transform;
}