:root {
  --color-black: #000;
  --color-grey-dark: #1a191c;
  --color-white: #fff;
}

html, body {
  min-height: 100%;
}

body {
  overflow: hidden;

  margin: 0;

  font-size: 18px;
  font-family: 'Verdana', sans-serif;
  line-height: 1.4;

  background-color: var(--color-grey-dark);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 100%;
  height: 100vh;
}

.logo {
  position: fixed;
  top: 50px;
  left: 50px;

  font-family: 'Helvetica';
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 4px;
  color: var(--color-white);
}

.canvas {
  position: fixed;

  width: 60vw;
  height: 60vh;

  box-shadow: 0px 25px 30px -4px rgba(0, 0, 0, 1);
}

.curtain {
  position: relative;

  width: 60vw;
  height: 60vh;

  cursor: none;
}

.curtain img, .curtain canvas {
  display: none;
}

.title {
  position: absolute;
  top: 50%;

  width: 100%;

  margin: 0;

  font-size: 50px;
  color: var(--color-white);
  text-align: center;

  transform: translateY(-50%);
}
